body {
  font-size: 13.5px;
  background-color: hsl(30, 38%, 92%);
}

p {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  text-align: start;
  width: 90%;
}

h1 {
  font-family: "Fraunces", serif;
  width: 90%;
  font-weight: 700;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

.container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 375px;
  width: 260px;
  text-align: start;
}

.imagen-perfume {
  width: 260px;
  height: 375px;
  border-radius: 10px;
  position: relative;
  left: 10px;
}

.informacion-producto {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  text-align: start;
}

.precio {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.precio h1 {
  color: hsl(158, 36%, 37%);
}

.precio p {
  text-decoration: line-through;
}

.boton {
  background-color: hsl(158, 36%, 37%);
  color: white;
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.boton h4 {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 700;
}

.boton h4,
img {
  text-align: center;
}

/* Responsive Desing */

@media (max-width: 520px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
  }

  .container {
    position: relative;
    left: 10px;
    width: 350px;
    top: -20px;
  }

  .imagen-perfume {
    width: 350px;
    border-radius: 10px;
    position: relative;
    align-items: center;
  }

  .boton {
    width: 90%;
    margin-top: 20px;
  }
}
